body {
    padding-top: 0px;
    padding-bottom: 20px;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 17px;
   
}




/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

span.field-validation-error {
    color: red;
    font-weight: bold;

}

/*Customing Bootstrap*/

.navbar-inverse {
    background: #2c3e50; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #2c3e50 , #3498db); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #2c3e50 , #3498db); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
    border-color: #2c3e50;
}

    .navbar-inverse .navbar-nav > li > a {
        color: white;
    }
.navbar-inverse .navbar-brand {
    color: white;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: rgba(139, 195, 74, 0.28);
}

.dropdown-menu {
    background-color:#2c3e50
}
.dropdown-menu > li > a {
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Josefin Sans", Helvetica, Arial, sans-serif;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
padding: 20px 15px;
font-size: 16px;
height: 44px;
-ms-border-radius: 9px;
border-radius: 9px;
}

    .form-control:focus {
        border-color: #558c89;
    }

    /*
.btn {
    font-size: 20px;
    border-radius: 8px;
    background-color: #d9853b;
    padding: 6px 20px;

} 
        */

/*Event page*/

.eventos{
    list-style: none;
   
}

.eventos > li {
    position: relative;
    margin-bottom: 30px;
   
}

.eventos > li .date {
    background:blue;
    color: white;
    text-align: center;
    width: 100px;
    -ms-border-radius: 8px;
    border-radius: 8px;
    

}

.eventos > li .date .month {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    padding: 2px 6px;
    height: 40px;

}
 
.eventos > li .date .day {
    background: #f7f7f7;
    color:#333;
    font-size: 20px;
    padding: 6px 12px;
    height: 70px;
    
    }

.eventos > li .details {
    position: absolute;
    top: 0;
    left:120px;
}

.eventos > li .details .artist {
    font-weight: bold;
    display: block;
    
}

.eventos > li .details .genre {

    font-size: 15px;
}

.eventos > li .action {
    font-size: 15px;
    display: none;
}

.eventos > li:hover .action{
    display:block;
} 

.navbar-inverse .notifications {
    position: relative;
   
}

.navbar-inverse .notifications .badge {
    position: absolute;
    top: 8px;
    left: -2px;
    background: blue; 
}

#searchEvent {
    width: 300px;
}

/*notifications*/

ul.notifications {
    list-style: none;
    padding-left: 0;
}
ul.notifications > li {
    border-bottom: 1px solid grey;
    padding: 10px 0;
}

ul.notifications > li:last-child {
    border-bottom: none;
}

ul.notifications .highlight {
    font-weight: bold;
}


/*header

.jumbotron {
   background: #DE6262; /* fallback for old browsers 
    background: -webkit-linear-gradient(to left, #DE6262 , #FFB88C); /* Chrome 10-25, Safari 5.1-6 
    background: linear-gradient(to left, #DE6262 , #FFB88C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ 
    margin-bottom: 0;
    color: white;
    font-weight: 900;
    font-size: 80px;
}
    */

.jumbotron {
    background-color: black;
    margin-bottom: 0;
    }

.logo-heading {
    align-content: center;
}    
.smallText {
    color: white;
}

/*search button */
.text-search {
    
}

.profile-pic {
    width: 350px;
    height: 350px;
    display: inline;
}

.button-float-left {
    float: left;
}
.margin {
    margin-bottom: 45px;
}
