body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 17px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

span.field-validation-error {
    color: red;
    font-weight: bold;

}

/*Customing Bootstrap*/

.navbar-inverse {
    background-color: #558c89;
    border-color: #558c89;
}

    .navbar-inverse .navbar-nav > li > a {
        color: white;
    }
.navbar-inverse .navbar-brand {
    color: #ECECEA;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: rgba(139, 195, 74, 0.28);
}

.dropdown-menu {
    background-color: #558c89;
}
.dropdown-menu > li > a {
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Josefin Sans", Helvetica, Arial, sans-serif;
}

.form-group {
    margin-top: 20px;
}

.form-control {
padding: 20px 15px;
font-size: 16px;
}

    .form-control:focus {
        border-color: #558c89;
    }

.btn {
    font-size: 20px;
    border-radius: 8px;
    background-color: #d9853b;
    padding: 6px 20px;

}
